/*  Date            Author    	          Why              jira
*/

&msm_gpio {
	audio_switch_active: active {
		mux {
			pins = "gpio111";
			function = "gpio";
		};
		config {
			pins = "gpio111";
			drive-strength = <6>;
			bias-pull-up;
		};
	};
	audio_switch_suspend: suspend {
		mux {
			pins = "gpio111";
			function = "gpio";
		};
		config {
			pins = "gpio111";
			drive-strength = <2>;
			bias-pull-down;
		};
	};

	vconn1_swch_active: active {
		mux {
			pins = "gpio20";
			function = "gpio";
		};
		config {
			pins = "gpio20";
			drive-strength = <6>;
			bias-pull-up;
		};
	};

	vconn1_swch_suspend: suspend {
		mux {
			pins = "gpio20";
			function = "gpio";
		};
		config {
			pins = "gpio20";
			drive-strength = <2>;
			bias-pull-down;
		};
	};

	vconn2_swch_active: active {
		mux {
			pins = "gpio115";
			function = "gpio";
		};
		config {
			pins = "gpio115";
			drive-strength = <6>;
			bias-pull-up;
		};
	};
	vconn2_swch_suspend: suspend {
		mux {
			pins = "gpio115";
			function = "gpio";
		};
		config {
			pins = "gpio115";
			drive-strength = <2>;
			bias-pull-down;
		};
	};

	board_id_active: active {
		mux {
			pins = "gpio62", "gpio63", "gpio66";
			function = "gpio";
		};
		config {
			pins = "gpio62", "gpio63", "gpio66";
			drive-strength = <2>;
			input-enable;
			bias-pull-up;
		};
	};
	board_id_suspend: suspend {
		mux {
			pins = "gpio62", "gpio63", "gpio66";
			function = "gpio";
		};
		config {
			pins = "gpio62", "gpio63", "gpio66";
				drive-strength = <2>;
				input-enable;
				bias-pull-down;
		};
	};

	headset_active: active {
		mux {
			pins = "gpio114";
			function = "gpio";
		};
		config {
			pins = "gpio114";
			drive-strength = <2>;
			bias-disable; /* NO pull */
		};
	};
	headset_suspend: suspend {
		mux {
			pins = "gpio114";
			function = "gpio";
		};
		config {
			pins = "gpio114";
			drive-strength = <2>;
			bias-disable; /* NO pull */
		};
	};

	usb_irq_active: active {
		mux {
			pins = "gpio21";
			function = "gpio";
		};
		config {
			pins = "gpio21";
			drive-strength = <2>;
			bias-disable; /* NO pull */
		};
	};

	hph_lr_switch_active: active {
		mux {
			pins = "gpio16";
			function = "gpio";
		};
		config {
			pins = "gpio16";
			drive-strength = <6>;
			bias-pull-up;
		};
	};
	hph_lr_switch_suspend: suspend {
		mux {
			pins = "gpio16";
			function = "gpio";
		};
		config {
			pins = "gpio16";
			drive-strength = <2>;
			bias-pull-down;
		};
	};

	cam_sensor_rear_sleep: cam_sensor_rear_sleep {
		mux {
			pins = "gpio35", "gpio36", "gpio143", "gpio144";
			function = "gpio";
		};
		config {
			pins = "gpio35", "gpio36", "gpio143", "gpio144";
			drive-strength = <2>; /* 2 MA */
			bias-disable; /* No PULL */
		};
	};

	goodix_irq_active: active {
		mux {
			pins = "gpio106";
			function = "gpio";
		};
		config {
			pins = "gpio106";
			drive-strength = <2>;
			bias-disable;
			input-enable;
		};
	};
};
